.navbar-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.left-section {
  h3 {
    color: white;
  }
}

.right-section {
  a {
    background: linear-gradient(to right, #FF6867, rgb(228, 84, 84));
    color: white;
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    &:hover {
      background: linear-gradient(to right, rgb(211, 72, 72), rgb(211, 72, 72));
    }
  }
}