<section class="container hero-wrapper">
  <section class="left-section">
    <h3>Todos Application</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet sint quisquam repellat alias veritatis assumenda commodi, tempora provident eaque optio inventore nostrum dolorum aliquid odio sapiente nobis quidem incidunt velit.</p>
    <a [title]="'lets make a todo list'" [routerLink]="'/todos'">Get Started</a>
  </section>
  <section class="right-section">
    <img src="../../../assets/illustration/undraw_chore_list_iof3.svg" alt="">
  </section>
</section>